<link rel="stylesheet" href="{{ 'hover.css' | asset_url }}">

<section>
    <h2 class="text-center my-5">{{ section.settings.title }}</h2>
    <div class="grid-collection">
        {% for product in collections[section.settings.featured_collection].products %}
        {% assign image = product.featured_media.preview_image %}
        <div class="grid-product">
            {% if image != blank %}
            <div class="reveal">
                <img src="{{ image | img_url: '300x' }}" alt="{{ product.title }}">
                <img class="hidden" src="{{ product.images.last | img_url: '450x450' }}" alt="{{ product.images.last.alt | escape }}" />
            </div>
            {% else %}
            {{ 'product-1' | placeholder_svg_tag: 'card-img-top' }}
            {% endif %}

            <div>
                <h4><a href="{{ product.url }}" class="collection__title">{{ product.title }}</h4>
                <p>{{ product.price | money_without_trailing_zeros }}</p></a>
            </div>

        </div>
        {% endfor %}
    </div>
</section>


{% schema %}
{
"name": "Featured Collection",
"class": "featured-collection-section",
"settings": [
{
"type": "collection",
"id": "featured_collection",
"label": "Collection"
},
{
"type": "text",
"id": "title",
"default": "Featured Collection",
"label": "Title"
}
],
"presets": [
{
"category": "Collection",
"name":"Featured Collection"
}
]
}
{% endschema %}