<div class="inner-hero-section">
    {% if section.settings.image != blank %}
    <img src="{{ section.settings.image | img_url: 'master' }}" alt="{{ section.settings.image.alt}}">
    {% else %}
    {% assign placeholder = 'lifestyle-2' %}
    {{ placeholder | placeholder_svg_tag: 'placeholder-svg' }}
    {% endif %}

    <div class="container py-5">
      <div class="row">
        <div class="col-lg-4 col-md-6 mx-auto hero-text">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'heading' -%}
              <h1>{{ block.settings.heading }}</h1>

              {%- when 'text' -%}
                <div class="">
                  {{ block.settings.text | escape }}
                </div>

              {%- when 'buttons' -%}
                {%- if block.settings.button_label != blank -%}
                  <a href="{{ block.settings.button_link }}" class="btn btn-secondary">
                    {{ block.settings.button_label }}
                  </a>
                {%- endif -%}
              </div>

            {%- endcase -%}
          {%- endfor -%}
        </div>
      </div>
    </div>
</div>


{% schema %}
{
  "name": "hero",
  "tag": "section",
  "class": "hero-section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image Picker"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Title",
          "label": "Enter heading here"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Content description",
          "label": "Enter text here"
        }
      ]
    },
    {
      "type": "buttons",
      "name": "Buttons",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Button Label",
          "label": "button_label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "button_link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "buttons"
        }
      ]
    }
  ]
}
{% endschema %}
