<section class="inner-hero-section">
    {% if section.settings.image != blank %}
    <img src="{{ section.settings.image | img_url: 'master' }}" alt="{{ section.settings.image.alt}}">
    {% else %}
    {% capture current %}{% cycle 1,2 %}{% endcapture %}
    {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
    {% endif %}

    <div class="container py-5">
        <div class="row">
            <div class="col-lg-4 col-md-6 mx-auto hero-text">
                {% for block in section.blocks %}
                {% case block.type %}
                {% when 'title' %}
                <h1>{{ section.settings.title }}</h1>

                {% when 'hero_text' %}
                {{ section.settings.hero_text }}

                {% when 'button_label' %}
                {% if section.settings.button_link != blank %}
                <a href="{{ section.settings.button_link }}" class="btn btn-secondary">{{ section.settings.button_label
                    }}</a>
                {% else %}
                {% endif %}

                {% else %}
                {% endcase %}
                {% endfor %}
            </div>
        </div>
    </div>

</section>

{% schema %}
{
"name": "Hero",
"class": "hero-section",
"settings": [
  {
    "type": "image_picker",
    "id": "image",
    "label": "Image Label"
  }
], 
"blocks": [
    {
    "type": "title",
    "name": "Title",
    "limit": 1
    },
    {
    "type": "hero_text",
    "name": "Hero Text",
    "limit": 1
    },
    {
    "type": "button_label",
    "name": "Button Label",
    "limit": 1
    }
]
}
{% endschema %}